* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    color: hsl(0, 0%, 17%);

}

.container-app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

}

header {
    padding: 2rem 0;
    background-image: url('../images/pattern-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .container-app {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: #fff;
    }

    .search {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 2rem auto;

        @media(max-width: 1024px) {
            margin: 0 auto 1.5rem auto;
        }

        &-input {
            width: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            border-radius: 16px;
            max-width: 400px;


            input {
                width: 100%;
                padding: 1.125rem;
                border: none;
                outline: none;
                font-size: 1rem;
            }

            button {
                outline: none;
                border: none;
                background-color: hsl(0, 0%, 17%);
                color: #fff;
                padding: 1.125rem;
                font-weight: 500;
                cursor: pointer;
                transition: background .3s ease;

                &:hover {
                    background-color: hsl(0, 0%, 0%);
                }

            }


        }



        output {
            color: red;
            margin-top: 1rem;
            font-size: 1.125rem;
        }

    }

    .result-bar {
        padding: 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        border-radius: 16px;
        background-color: #fff;
        z-index: 500;
        margin-bottom: -128px;

        @media(max-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 350px;
            margin-bottom: -160px;
        }

        .result-item {
            position: relative;
            padding: 0 1rem;

            @media(max-width: 1024px) {
                text-align: center;
            }

            &+.result-item {
                border-left: 2px solid hsl(0, 0%, 90%);

                @media(max-width: 1024px) {
                    margin-top: 1rem;
                    border-left: none;
                }

                @media(max-width: 1024px) {
                    &::after {
                        display: none;
                    }
                }
            }

            span {
                display: block;
                font-size: .875rem;
                color: hsl(0, 0%, 59%);
                font-weight: 600;
            }

            p {
                margin-top: .5rem;
                font-size: 1.5rem;
                font-weight: 600;
                color: hsl(0, 0%, 17%);

                @media(max-width: 1024px) {
                    font-size: 1.125rem;
                }
            }
        }
    }
}



.app {
    height: 100%;

    #map {
        width: 100%;
        height: 100%
    }

    .leaflet-popup-content {
        h3 {
            font-weight: 600;
            font-size: 1rem;
        }

        p {
            margin: 0;
            padding-top: .5rem;
            font-size: .875rem;

        }
    }
}